:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #dee2de;
    --color-border-light: #D3DEE9;
    --color-primary: rgb(46, 46, 255);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343A40;

    --border-radius-d: 12px;
    --border-radius-s: 4px;

    --weight-title: 600;
    --weight-text: 400;
}


/* ============================= */
.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;

}
/*=============================*/

.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);
display: flex;
justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);

    width: var(--space-l);
    height: var(--space-l);

    border-radius:calc(var(--border-radius-d) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
  color:var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  transition: color 1s;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color:var(--color-text);

    display: block;

    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color:var(--color-title);

    display: block;

    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.main {
  display: flex;
  width: 100%;
  align-items: flex-start;

  gap: 40px;
}

.messages {
  max-width: 620px;
  width: 100%;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1); /*тінь для блоку*/

  background-color: var(--color-white);
  border-radius: var(--border-radius-d);

  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.messages_title {
    font-size: var(--size-b);
    color: var(--color-title);
    font-weight: var(--weight-text);/*шрифт тесту */

    padding-bottom: var(--space-m); /*нижній відступ*/
    border-bottom: 1px solid var(--color-border-light);
}

.messages_link {
    color: var(--color-primary);
    font-size: var(--size-s);
    align-self: flex-end; /* знаходження тексту */
    text-decoration: none; /* видалити лінію */
    
    transition-duration: 0.7s;
    transition-property: opacity, border-color;

    border-bottom: 1px solid transparent; 
}

.messages_link:hover {
    opacity: 0.7;
    border-color: 1px solid var(--color-primary);
}

.msg {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    color: var(--color-title);
    font-size: var(--size-d);

    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border-light);

    position: relative;

    padding-right: var(--space-b);
}

.msg_name {
    font-weight: var(--weight-title);
}

.msg_text {
    font-weight: var(--weight-text);
}

.msg_day {
    position: absolute;
    right: 0;
    top: 0;
}

.advantages {
   display: flex;
   gap: var(--space-l);
}

.advantages > div {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4EAF2;
    border-radius: var(--border-radius-d);
    padding: var(--space-l);
    gap: var(--space-s);

    /*width: 100%;*/ /*щоб карточки були однаковими */
}
.advantages > div > strong {
    font-size: 18px;
    font-weight: var(--weight-title);
    color: var(--color-title);
}

.advantages > div > p {
    color: #767676;
    font-size: var(--size-d);
    line-height: 150%;/*читабельність*/
}

.advantages > div:nth-of-type(2) {
    flex-grow: 1;
    width: 100%;
}

.form {
   max-width: 340px;
   width: 100%; 

    background-color: var(--color-white);
    border-radius: var(--border-radius-d);
  
    padding: var(--space-l);
  
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }

  .form_title {
    text-align: center;
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    color: var(--color-title);
  }

  .form_button {
    text-align: center;
    padding: var(--space-m);
    font-size: var(--size-l);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-s);
    color: var(--color-white);

    transition: opacity 0.7s;
  }

  .form_button:hover {
    opacity: 0.7;
  }

  .form_button:active {
    opacity: 0.3;
  }

  .form_info {
    text-align: center;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    line-height: 24px;
    color: #6c757d;
    font-family: 'Roboto';
  }

  .form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
  }

  .form_input {
    padding: var(--space-xm);
    border: 1px solid #CED4DA;
    border-radius: var(--border-radius-s);
  }

  .form_input::placeholder {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-title);
  }

  .form_checkdox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
  }

  .form_checkdox > input {
    display: none;
  }

  .form_checkdox > input ~ div {
    border: 1px solid #767676;
    border-radius: var(--border-radius-s);
    width: 13px;
    height: 13px;
  }

  .form_checkdox > input:checked ~ div {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  .form_checkdox > label {
    color: var(--color-title);
    font-size: var(--size-d);
    cursor: pointer;
  }











