:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;
    --space-xb: 80px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-xl: 36px;

    --color-border: #dee2e6;
    --color-primary: #0D6EFD;
    --color-big: #563D7C;
    --color-white: #fff;
    --color-title: #5a5a5a;
    --color-nav: #343A40;
    --color-text:#212529;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;
}

/* ============================= */
.page {
    background: #fff;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;

}
/*=============================*/
.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);
display: flex;
justify-content: space-between;
}
    
.big {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-big);

    width: var(--space-l);
    height: var(--space-l);

    border-radius:calc(var(--border-radius) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color:var(--color-nav);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color:var(--color-text);

    display: block;

    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: #212529;

    display: block;

    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}
    
.main {
    display: flex;
    align-items: center;
    padding: var(--space-l);
    gap: var(--space-xb);
}

.main_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}

.main_content {
    display: flex;
    flex-direction: column;
    gap:var(--size-l);
}

.main_heading {
    font-size: var(--size-xl);
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
}

.main_descriotion {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight-text);
    line-height: 170%;
}

.button {
   
    font-size: var(--space-xm);
    padding: var(--space-m) var(--space-xm);
}

.button:hover {
    opacity: 0.7;
}

.main_button {
    background-color: #6c757d;
    color: var(--color-white);
    width: 120px; 
    border-radius: var(--border-radius);
    text-decoration: none;
}

.featured {
    display: flex;
    gap: var(--space-b);

    padding: var(--space-b);
    border-bottom: 1px solid var(--color-title);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: var(--space-l);

    width: 320;
}

.card:only-of-type {
    align-items: center;
    text-align: center; 
}

.card_image {
    width: 64px;
    height: 64px;
    border-radius: var(--border-radius);
    align-items: flex-start;
}

.card_title {
    font-size: 32px;
    font-weight: var(--weight-text);
    color: var(--color-title);
}

.card_text {
    font-weight: var(--weight-text);
    font-size: var(--space-xm);
    color: var(--color-title);
}

.card_button {
 text-decoration: underline;
 color: var(--color-primary);
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-big);
    padding: var(--space-l);

    border-radius: 8px;
}

.action_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    align-items: flex-start;
    padding: 0px;
}

.action_title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    line-height: 16px;
    font-weight: var(--weight-text);
    color: var(--color-white);
}
.action_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   padding: auto;

    width: 200px;
    height: 52px;
    

    background: var(--color-white);
    color: var(--color-text);
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
}





   